/* ------------------------------------------------------
Lightgrid css by shash7

Project on github https://github.com/shash7/lightgrid
------------------------------------------------------*/

/* Simple css reset
Delete this section if you use a custom normalize css or reset css 
*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family:Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Lightgrid starts here */

.row {
	width: 100%;
}

.row:after
{
	clear:both;
	content:'';
	display:block;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	margin-right: 2%;
	float: left;
}

.row .col-1 {
	width: 6.5%;
}

.row .col-2 {
	width: 15%;
}

.row .col-3 {
	width: 23.5%;
}

.row .col-4 {
	width: 32%;
}

.row .col-5 {
	width: 40.5%;
}

.row .col-6 {
	width: 49%;
}

.row .col-7 {
	width: 57.5%;
}

.row .col-8 {
	width: 66%;
}

.row .col-9 {
	width: 74.5%;
}

.row .col-10 {
	width: 83%;
}

.row .col-11 {
	width: 91.5%;
}

.row .col-12 {
	width: 100%;
}

.offset-1
{
	margin-left:8.5%;
}

.offset-2
{
	margin-left:17%;
}

.offset-3
{
	margin-left:25.5%;
}

.offset-4
{
	margin-left:25.5%;
}

.offset-5
{
	margin-left:34%;
}

.offset-6
{
	margin-left:51%;
}

.offset-7
{
	margin-left:59.5%;
}

.offset-8
{
	margin-left:68%;
}

.offset-9
{
	margin-left:76.5%;
}

.offset-10
{
	margin-left:85%;
}

.offset-11
{
	margin-left:93.5%;
}

.last {
	margin-right: 0;
}

img {
	height: auto;
}