/* ----------------------------------------------------------------
 * style.less
 * 
 * All custom styles are defined here
 * ---------------------------------------------------------------- */
body {
  font-family: 'Karla', sans-serif;
  color: #555555;
}
h1,
h2,
h3,
h4 {
  font-family: 'Karla', sans-serif;
  color: #444;
  font-weight: bold;
}
.wrapper {
  position: relative;
  border-left: rgba(0, 0, 0, 0.2) solid 8px;
}
.site-main {
  padding: 106px;
  padding-bottom: 0;
  padding-top: 64px;
  width: 60%;
  box-sizing: border-box;
}
.site-main:first-child {
  padding-top: 106px;
}
.site-main:last-child {
  padding-bottom: 112px;
}
.site-main .site-main__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 2.6em;
  letter-spacing: -1px;
  color: #333;
}
.site-main .site-main__description {
  margin: 0;
  font-size: 2.4em;
  line-height: 1.2;
  letter-spacing: -1px;
}
.site-main .site-main__nav {
  margin-top: 48px;
}
.site-main .site-main__nav .nav__item {
  position: relative;
  display: inline-block;
  padding: 4px;
  margin-right: 16px;
  font-weight: bold;
  font-size: 1.2em;
  color: #555555;
  border-bottom: #73d1e0 solid 3px;
}
.site-main .site-main__nav .nav__item:hover {
  text-decoration: none;
  background-color: #73d1e0;
  color: #FFF;
}
.site-main .site-main__nav .nav__item:active {
  background-color: #5ecadb;
  border-color: #5ecadb;
  color: #FFF;
}
.site-main--full {
  width: 100%;
}
.site-main--full .site-main__title {
  display: inline-block;
  font-size: 2.2em;
}
.site-main--full .site-main__title:after {
  display: block;
  content: '';
  width: 100%	;
  height: 2px;
  background-color: #444;
}
.btn {
  display: inline-block;
  padding: 8px 24px;
  font-weight: bold;
  background-color: #5ecadb;
  color: #FFF;
}
.btn:hover {
  background-color: #88d8e4;
}
.btn:visited {
  color: #FFF;
}
.btn:hover,
.btn:active {
  color: #FFF;
}
code {
  padding: 2px 4px;
  border: #555 solid 1px;
  border-radius: 2px;
}
.directory {
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.05);
  border: #555 solid 1px;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px #FFF, 0 1px 1px #EEE;
}
.directory li {
  display: inline-block;
  padding: 2px 4px;
  font-family: monospace;
  font-size: 0.8em;
  background-color: #FFF;
  border: #555 solid 1px;
  border-radius: 2px;
}
.row {
  background-color: #dbf3f7;
}
[class^=col-] > div,
[class^=offset-] > div {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 8px 4px;
  color: #FFF;
  background-color: #73d1e0;
  text-align: center;
  border: #34bcd2 solid 2px;
}
/* Massive screens */
@media only screen and (min-width: 1201px) {
  .wrapper {
    border-color: #dbf3f7;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .wrapper {
    border-color: #c6ecf2;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .wrapper {
    border-color: #b1e5ee;
  }
  .site-main {
    width: 80%;
    padding: 48px;
    padding-bottom: 0;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .wrapper {
    border-color: #9ddfe9;
  }
  .site-main {
    width: 100%;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .wrapper {
    border-color: #88d8e4;
  }
  .site-main {
    padding: 32px;
    padding-bottom: 0;
    padding-top: 24px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .wrapper {
    border-color: #73d1e0;
  }
}
