// main: lightgrid.less

/* ----------------------------------------------------------------
 * form.less
 * 
 * Basic form elements shim is defined here
 * ---------------------------------------------------------------- */

input, select, textarea {
	margin: 0;
	padding: 4px;
	display: inline-block;
	
	font-family: @body-font;
	
	box-sizing: border-box;
}

input[type="button"], input[type="submit"], button {
	padding: 4px 8px;
	
	background-color: #EEE;
	border:#BBB solid 2px;
	
	box-sizing: border-box;
}